.Input {
    -webkit-appearance: none;
    border: none;
    background: none;
    color: white;
    outline: none;
    line-height: 18px;
    font-size: 14px;
    width: 260px;
    padding: 2px 8px;
    margin: 10px;
    border-bottom: 1px solid #ffffff;
}

.Input::placeholder {
    color: white;
    opacity: 0.5;
}
