body {
    margin: 0;
    font-family: "Roboto", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: rgb(59, 65, 119);
    background: url("./assets/background-blur.jpg") no-repeat center center
        fixed;
    background-size: cover;
    height: 100%;
    position: relative;
}

body::-webkit-scrollbar {
    width: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
        monospace;
}
